.cluster-marker {
  color: #fff;
  background: #344452;
  border-radius: 50%;
  padding: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10px;
  height: 10px;
}

.crime-marker {
  background: none;
  border: none;
}

.crime-marker img {
  width: 25px;
}